@font-face {
    font-family: digitalfont;
    src: url(digital-7.ttf);
}

#messageDisplay {
    color: #424242;
    margin-top: -10%;
    font-size: 5vw;
    font-weight: bold;
}

#clock {
    font-family: digitalfont;
    font-size: 4em;
    font-weight: bold;
}

.clock-platform {
    font-size: 35vw;
    margin-top: -10%;
    font-weight: bold;
}

.clock-default {
    color: #424242;
    background-color: #ffffff;
}

.clock-warning {
    color: #424242;
    background-color: #edef88;
}

.clock-danger {
    color: #ffffff;
    background-color: #ff2323;
}



#tblDiscursos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #424242;

    font-weight: bold;
}